<div role="main">

  <p>
    <mat-toolbar>
      <span>Azure App Service Authentication</span>
    </mat-toolbar>
  </p>

  <div style="padding: 15px 25px 25px 25px;">
    <p>
      <mat-card>
        <p>
          <mat-card-header>
            <mat-card-title>1 - Get the OAuth token</mat-card-title>
            <mat-card-subtitle>Authenticate with Azure AD to get an OAuth access token</mat-card-subtitle>
          </mat-card-header>
        </p>
        <mat-card-content>
          <p>
            <mat-form-field style="width: 800px; font-size: small;">
              <textarea matInput placeholder="The OAuth 'access_token' will be printed here"
                readonly>{{ accessToken }}</textarea>
            </mat-form-field>
          </p>
          <button (click)="login()" mat-raised-button color="primary">Login</button>
        </mat-card-content>
      </mat-card>
    </p>

    <p>
      <mat-card>
        <p>
          <mat-card-header>
            <mat-card-title>2 - Exchange the token</mat-card-title>
            <mat-card-subtitle>Exchange the OAuth token for an App Service token</mat-card-subtitle>
          </mat-card-header>
        </p>
        <mat-card-content>
          <p>
            <mat-form-field style="width: 800px; font-size: small;">
              <textarea matInput placeholder="The App Service .auth authorization token will be displayed here"
                readonly>{{ appServAuthorizationToken }}</textarea>
            </mat-form-field>
          </p>
          <button (click)="exchangeAccessToken()" mat-raised-button color="primary">Exchange Token</button>
        </mat-card-content>
      </mat-card>
    </p>

    <p>
      <mat-card>
        <p>
          <mat-card-header>
            <mat-card-title>3 - Call the Web API running in App Service</mat-card-title>
            <mat-card-subtitle>Use the App Service token to call a protected Web API</mat-card-subtitle>
          </mat-card-header>
        </p>
        <mat-card-content>
          <p>
            <mat-form-field style="width: 800px; font-size: small;">
              <textarea matInput placeholder="Protected data received from yor API"
                readonly>{{ protectedData }}</textarea>
            </mat-form-field>
          </p>
          <button (click)="callProtectedApi()" mat-raised-button color="primary">Call Web API</button>
        </mat-card-content>
      </mat-card>
    </p>

  </div>

</div>